$dark-gray: rgb(33,33,33);
$light-blue: rgb(25,197,235);
$light-gray: rgb(240,240,240);
$purple: rgb(125,25,214);
$gradient: linear-gradient(90deg, $light-blue, $purple);

body {
  background: $light-gray;
  color: $dark-gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: $gradient;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  background-color: $light-gray;
  border: none;
  border-radius: 1px;
  color: $dark-gray;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message:focus,
.chatbar-username:focus {
  outline: none;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: $gradient;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: $dark-gray;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}
